<div class="w-full hidden md:flex">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-full">
    <div
      class="flex flex-col md:px-20 px-5 items-center justify-center space-y-2"
    >
      <div
        class="flex flex-col space-y-3 w-full md:flex-row md:space-x-3 md:space-y-0"
      >
        <div class="w-full md:w-1/3 flex flex-col">
          <label for="locality">Lokalizacja</label>
          <input
            id="locality"
            type="text"
            placeholder="Wprowadź lokalizację"
            [style]="{ width: '100%' }"
            pInputText
            formControlName="locality"
          />
        </div>

        <div class="w-full md:w-1/3">
          <span>Powierzchnia działki</span>
          <div class="flex flex-row">
            <div class="flex flex-col input-from">
              <p-inputNumber
                [inputStyle]="{ width: '100%' }"
                [style]="{ width: '100%' }"
                suffix=" &#13217;"
                inputId="integeronly"
                placeholder="Od"
                formControlName="areaPlotFrom"
              >
              </p-inputNumber>
            </div>
            <div class="flex input-gap justify-center items-center">-</div>
            <div class="flex flex-col input-from">
              <p-inputNumber
                [inputStyle]="{ width: '100%' }"
                [style]="{ width: '100%' }"
                suffix=" &#13217;"
                inputId="integeronly"
                placeholder="Do"
                formControlName="areaPlotTo"
              >
              </p-inputNumber>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/3">
          <span>Cena</span>
          <div class="flex flex-row">
            <div class="flex flex-col input-from">
              <p-inputNumber
                [inputStyle]="{ width: '100%' }"
                [style]="{ width: '100%' }"
                suffix=" PLN"
                inputId="integeronly"
                placeholder="Od"
                formControlName="priceFrom"
              >
              </p-inputNumber>
            </div>
            <div class="flex input-gap justify-center items-center">-</div>
            <div class="flex flex-col input-from">
              <p-inputNumber
                [inputStyle]="{ width: '100%' }"
                [style]="{ width: '100%' }"
                suffix=" PLN"
                inputId="integeronly"
                placeholder="Do"
                formControlName="priceTo"
              >
              </p-inputNumber>
            </div>
          </div>
        </div>
      </div>

      <div
        class="flex flex-col space-y-3 w-full md:flex-row md:space-x-3 md:space-y-0"
      >
        <div class="w-full md:w-1/3 flex flex-col">
          <label>Typ działki</label>
          <p-multiSelect
            [options]="plotTypeOptions"
            formControlName="plotType"
            defaultLabel="Wybierz typ działki"
            optionLabel="value"
            optionValue="value"
            display="chip"
            [filter]="false"
            [showClear]="true"
            [style]="{ width: '100%' }"
            [showHeader]="false"
            emptyMessage="Brak"
          ></p-multiSelect>
        </div>

        <div class="w-full md:w-1/3 flex flex-col">
          <label>Ogrodzenie</label>
          <p-dropdown
            [options]="fenceOptions"
            formControlName="fence"
            placeholder="Wybierz ogrodzenie"
            optionLabel="value"
            optionValue="value"
            [filter]="false"
            [showClear]="true"
            [style]="{ width: '100%' }"
            emptyMessage="Brak"
          ></p-dropdown>
        </div>

        <div class="w-full md:w-1/3 flex flex-col">
          <label for="utilities">Dostępne media</label>
          <p-multiSelect
            [options]="utilitiesOptions"
            id="utilities"
            formControlName="utilities"
            defaultLabel="Wybierz media"
            optionLabel="name"
            optionValue="id"
            display="chip"
            [filter]="false"
            [showClear]="true"
            [style]="{ width: '100%' }"
            [showHeader]="false"
            emptyMessage="Brak"
          ></p-multiSelect>
        </div>
      </div>

      <div
        class="flex flex-col space-y-3 w-full md:flex-row md:space-x-3 md:space-y-0"
      >
        <div class="w-full md:w-1/3 flex flex-col">
          <label>Dojazd</label>
          <p-multiSelect
            [options]="drivewayTypeOptions"
            formControlName="drivewayType"
            defaultLabel="Wybierz rodzaj dojazdu"
            optionLabel="name"
            optionValue="id"
            display="chip"
            [filter]="false"
            [showClear]="true"
            [style]="{ width: '100%' }"
            [showHeader]="false"
            emptyMessage="Brak"
          ></p-multiSelect>
        </div>

        <div class="w-full md:w-2/3 flex justify-end items-end text-white">
          <span class="p-buttonset">
            <button
              class="p-button-secondary"
              pButton
              [disabled]="!this.form.dirty || !this.form.touched"
              (click)="clearFormAndFilters()"
            >
              Wyczyść filtry
            </button>
            <button pButton [disabled]="!this.form.dirty || !this.form.touched">
              Szukaj
            </button></span
          >
        </div>
      </div>
    </div>
  </form>
</div>

<p-sidebar
  [(visible)]="visibleFilterSidebar"
  [fullScreen]="true"
  [baseZIndex]="10000"
  [blockScroll]="true"
>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-full">
    <div
      class="flex flex-col md:px-20 px-5 items-center justify-center space-y-2"
    >
      <div
        class="flex flex-col space-y-3 w-full md:flex-row md:space-x-3 md:space-y-0"
      >
        <div class="w-full md:w-1/3 flex flex-col">
          <label>Lokalizacja</label>
          <input
            type="text"
            placeholder="Wprowadź lokalizację"
            [style]="{ width: '100%' }"
            pInputText
            formControlName="locality"
          />
        </div>

        <div class="w-full md:w-1/3">
          <span>Powierzchnia działki</span>
          <div class="flex flex-row">
            <div class="flex flex-col input-from">
              <p-inputNumber
                [inputStyle]="{ width: '100%' }"
                [style]="{ width: '100%' }"
                suffix=" &#13217;"
                inputId="integeronly"
                placeholder="Od"
                formControlName="areaPlotFrom"
              >
              </p-inputNumber>
            </div>
            <div class="flex input-gap justify-center items-center">-</div>
            <div class="flex flex-col input-from">
              <p-inputNumber
                [inputStyle]="{ width: '100%' }"
                [style]="{ width: '100%' }"
                suffix=" &#13217;"
                inputId="integeronly"
                placeholder="Do"
                formControlName="areaPlotTo"
              >
              </p-inputNumber>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/3">
          <span>Cena</span>
          <div class="flex flex-row">
            <div class="flex flex-col input-from">
              <p-inputNumber
                [inputStyle]="{ width: '100%' }"
                [style]="{ width: '100%' }"
                suffix=" PLN"
                inputId="integeronly"
                placeholder="Od"
                formControlName="priceFrom"
              >
              </p-inputNumber>
            </div>
            <div class="flex input-gap justify-center items-center">-</div>
            <div class="flex flex-col input-from">
              <p-inputNumber
                [inputStyle]="{ width: '100%' }"
                [style]="{ width: '100%' }"
                suffix=" PLN"
                inputId="integeronly"
                placeholder="Do"
                formControlName="priceTo"
              >
              </p-inputNumber>
            </div>
          </div>
        </div>
      </div>

      <div
        class="flex flex-col space-y-3 w-full md:flex-row md:space-x-3 md:space-y-0"
      >
        <div class="w-full md:w-1/3 flex flex-col">
          <label>Typ działki</label>
          <p-multiSelect
            [options]="plotTypeOptions"
            formControlName="plotType"
            defaultLabel="Wybierz typ działki"
            optionLabel="value"
            optionValue="value"
            display="chip"
            [filter]="false"
            [showClear]="true"
            [style]="{ width: '100%' }"
            [showHeader]="false"
            emptyMessage="Brak"
          ></p-multiSelect>
        </div>

        <div class="w-full md:w-1/3 flex flex-col">
          <label>Ogrodzenie</label>
          <p-dropdown
            [options]="fenceOptions"
            formControlName="fence"
            placeholder="Wybierz ogrodzenie"
            optionLabel="value"
            optionValue="value"
            [filter]="false"
            [showClear]="true"
            [style]="{ width: '100%' }"
            emptyMessage="Brak"
          ></p-dropdown>
        </div>

        <div class="w-full md:w-1/3 flex flex-col">
          <label>Dostępne media</label>
          <p-multiSelect
            [options]="utilitiesOptions"
            formControlName="utilities"
            defaultLabel="Wybierz media"
            optionLabel="name"
            optionValue="id"
            display="chip"
            [filter]="false"
            [showClear]="true"
            [style]="{ width: '100%' }"
            [showHeader]="false"
            emptyMessage="Brak"
          ></p-multiSelect>
        </div>
      </div>

      <div
        class="flex flex-col space-y-3 w-full md:flex-row md:space-x-3 md:space-y-0"
      >
        <div class="w-full md:w-1/3 flex flex-col">
          <label>Dojazd</label>
          <p-multiSelect
            [options]="drivewayTypeOptions"
            formControlName="drivewayType"
            defaultLabel="Wybierz rodzaj dojazdu"
            optionLabel="name"
            optionValue="id"
            display="chip"
            [filter]="false"
            [showClear]="true"
            [style]="{ width: '100%' }"
            [showHeader]="false"
            emptyMessage="Brak"
          ></p-multiSelect>
        </div>

        <div class="w-full">
          <span class="p-buttonset">
            <button
              class="p-button-secondary w-1/2"
              pButton
              [disabled]="!this.form.dirty || !this.form.touched"
              (click)="clearFormAndFilters()"
              label="Wyczyść filtry"
            ></button>
            <button
              pButton
              [disabled]="!this.form.dirty || !this.form.touched"
              class="w-1/2"
              label="Szukaj"
            ></button
          ></span>
        </div>
      </div>
    </div>
  </form>
</p-sidebar>

<div class="filter-button">
  <button
    (click)="visibleFilterSidebar = true"
    pButton
    label="Filtruj ogłoszenia"
    style="z-index: 100; border-radius: 0"
    class="w-full fixed bottom-0 left-0 md:hidden"
  ></button>
</div>

<div
  class="w-full flex flex-col justify-center items-center pt-4 space-y-4"
  *ngIf="dataLoad; else elseBlock"
>
  <app-offer
    *ngFor="let offer of offers"
    class="w-full md:px-20"
    [offer]="offer"
  ></app-offer>
  <h1 *ngIf="offers.length === 0">BRAK OFERT</h1>
  <p-paginator
    class="pb-14 md:pb-0"
    [rows]="10"
    [totalRecords]="totalRecords"
    (onPageChange)="paginate($event)"
  ></p-paginator>
</div>
<ng-template #elseBlock>
  <div class="w-full h-full flex items-center justify-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>
