<div
  class="w-full h-full max-h-full flex flex-wrap items-center justify-center gap-x-8"
>
  <div class="flex flex-col items-center">
    <div
      (mouseover)="showHouseOption = true"
      (mouseleave)="showHouseOption = false"
      class="add-offer-option"
    >
      <div *ngIf="!showHouseOption; else elseHouseContainer">
        <i class="pi pi-home text-white" style="font-size: 5rem"></i>
      </div>
      <ng-template #elseHouseContainer>
        <div class="py-1">
          <a routerLink="dom/sprzedaz" class="add-offer-option-link"
            >Sprzedaż</a
          >
        </div>
        <div class="py-1">
          <a routerLink="dom/wynajem" class="add-offer-option-link">Wynajem</a>
        </div>
      </ng-template>
    </div>
    <div class="add-offer-option-caption">Dom</div>
  </div>

  <div class="flex flex-col items-center">
    <div
      (mouseover)="showFlatOption = true"
      (mouseleave)="showFlatOption = false"
      class="add-offer-option"
    >
      <div *ngIf="!showFlatOption; else elseFlatContainer">
        <i class="pi pi-building" style="font-size: 5rem"></i>
      </div>
      <ng-template #elseFlatContainer>
        <div class="py-1">
          <a routerLink="mieszkanie/sprzedaz" class="add-offer-option-link"
            >Sprzedaż</a
          >
        </div>
        <div class="py-1">
          <a routerLink="mieszkanie/wynajem" class="add-offer-option-link"
            >Wynajem</a
          >
        </div>
      </ng-template>
    </div>
    <div class="add-offer-option-caption">Mieszkanie</div>
  </div>

  <div class="flex flex-col items-center">
    <div
      (mouseover)="showPlotOption = true"
      (mouseleave)="showPlotOption = false"
      class="add-offer-option"
    >
      <div *ngIf="!showPlotOption; else elsePlotContainer">
        <i class="pi pi-map-marker" style="font-size: 5rem"></i>
      </div>
      <ng-template #elsePlotContainer>
        <div class="py-1">
          <a routerLink="dzialka/sprzedaz" class="add-offer-option-link"
            >Sprzedaż</a
          >
        </div>
        <div class="py-1">
          <a routerLink="dzialka/wynajem" class="add-offer-option-link"
            >Wynajem</a
          >
        </div>
      </ng-template>
    </div>
    <div class="add-offer-option-caption">Działka</div>
  </div>

  <div class="flex flex-col items-center">
    <div
      (mouseover)="showRoomOption = true"
      (mouseleave)="showRoomOption = false"
      class="add-offer-option"
    >
      <div *ngIf="!showRoomOption; else elseRoomContainer">
        <i class="pi pi-book" style="font-size: 5rem"></i>
      </div>
      <ng-template #elseRoomContainer>
        <div class="py-1">
          <a routerLink="pokoj/wynajem" class="add-offer-option-link"
            >Wynajem</a
          >
        </div>
      </ng-template>
    </div>
    <div class="add-offer-option-caption">Pokój</div>
  </div>
</div>
