<div *ngIf="dataLoaded; else elseBlock">
  <div class="w-full flex md:flex-row flex-col justify-center pt-10">
    <div class="md:w-2/3 w-full">
      <p-galleria
        [value]="photos"
        [responsiveOptions]="responsiveOptions"
        [numVisible]="8"
        [circular]="true"
        [showItemNavigators]="true"
      >
        <ng-template pTemplate="item" let-item>
          <img class="object-contain" [src]="item.photo_url" />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
          <div class="flex justify-center">
            <img [src]="item.photo_url" width="70px" />
          </div>
        </ng-template>
        <ng-template *ngIf="photos.length === 0" pTemplate="item">
          <img class="object-contain" src="/assets/default-photo.jpg" />
        </ng-template>
      </p-galleria>
      <div class="flex flex-col p-4 space-y-2">
        <div class="flex flex-row justify-between">
          <div class="text-4xl">{{ offerDetails.title }}</div>
          <div class="text-4xl">
            {{ offerDetails.price | currency: "PLN":true }}
          </div>
        </div>
        <div class="flex flex-row w-full justify-end text-3xl">
          <div>
            {{ offerDetails.locality }}
          </div>
        </div>
        <div class="divide-y-2 divide-gray-300">
          <div class="flex flex-row py-2">
            <div class="w-1/4">Powierzchnia:</div>
            <div class="w-3/4">{{ offerDetails.area_square_meters }} m2</div>
          </div>
          <div class="flex flex-row py-2">
            <div class="w-1/4">Opis:</div>
            <div class="w-3/4 break-words">{{ offerDetails.description }}</div>
          </div>
          <div class="text-3xl border-none pb-2">Informacje szczegółowe</div>
          <div
            *ngFor="let parameter of parameters"
            class="flex flex-row py-2 odd:bg-gray-100 space-x-2"
          >
            <div class="w-1/4 capitalize-first">{{ parameter.name }}:</div>
            <div *ngIf="isArray(parameter.value)" class="w-3/4">
              {{ parameter.value.join(", ") }}
            </div>
            <div *ngIf="!isArray(parameter.value)" class="w-3/4">
              {{ parameter.value }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="md:flex flex-col md:w-1/3 bg-gray-200 h-full">
      <div class="space-y-2 px-2 pt-4">
        <div
          *ngIf="firm"
          class="flex flex-row justify-center items-center space-x-2"
        >
          <div class="w-1/3 flex justify-center">
            <img class="rounded-full" [src]="firm.logo_url" width="100px" />
          </div>
          <div class="w-2/3 flex flex-col">
            <div>Biuro nieruchomości: {{ firm.name }}</div>
            <div>
              {{ firm.street }} {{ firm.number }}, {{ firm.zip_code }}
              {{ firm.locality }}
            </div>
          </div>
        </div>
        <div class="flex flex-row justify-center items-center space-x-2">
          <div class="w-1/3 flex justify-center">
            <img class="rounded-full" [src]="owner.avatar_url" width="100px" />
          </div>
          <div class="w-2/3 flex flex-col">
            <div>{{ owner.first_name }} {{ owner.sure_name }}</div>
            <div>Numer telefonu: {{ owner.phone_number }}</div>
          </div>
        </div>
      </div>
      <div class="relative flex flex-col items-end p-4 space-y-4">
        <div
          *ngIf="!isLogged"
          class="absolute inset-0 flex flex-col justify-center items-center z-10 space-y-2"
        >
          <p class="p-4 text-center">
            Aby wysłać wiadomość musisz najpierw się zalogować
          </p>
          <button
            routerLink="/login"
            pButton
            type="button"
            label="Zaloguj się"
            class="p-button-success"
          ></button>
        </div>

        <input
          [disabled]="!isLogged"
          [style]="{ width: '100%' }"
          pInputText
          class=""
          placeholder="Temat wiadomości"
          [(ngModel)]="messageSubject"
        />
        <textarea
          [disabled]="!isLogged"
          [style]="{ width: '100%' }"
          [(ngModel)]="message"
          pInputTextarea
          placeholder="Treść wiadomości"
          rows="10"
        ></textarea>
        <p-button
          [disabled]="!isLogged"
          (click)="sendMessage()"
          styleClass="bg-blue-600 justify-self-end self-end"
          icon="pi pi-send"
          iconPos="left"
          label="Wyślij wiadomość"
          [loading]="messageSendLoading"
        ></p-button>
      </div>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div class="w-full h-full flex items-center justify-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>
