<div class="px-12">
  <p-table
    #usersTable
    [value]="users"
    dataKey="id"
    [paginator]="true"
    [rows]="10"
    [lazy]="true"
    (onLazyLoad)="loadUsers($event)"
    sortField="id"
    [sortOrder]="1"
    [loading]="loading"
    [totalRecords]="totalRecords"
    [globalFilterFields]="['id', 'sure_name', 'first_name', 'email']"
  >
    <ng-template pTemplate="caption">
      <div class="table-header flex justify-end">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="
              usersTable.filterGlobal($any($event.target).value, 'contains')
            "
            placeholder="Global Search"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th
          *ngFor="let column of columns"
          [pSortableColumn]="column.databaseName"
        >
          {{ column.displayName }}
          <p-sortIcon [field]="column.databaseName"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>
          {{ user.id }}
        </td>
        <td>
          {{ user.first_name }}
        </td>
        <td>
          {{ user.sure_name }}
        </td>
        <td>
          {{ user.email }}
        </td>
        <td>
          {{ user.phone_number }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
