<div class="px-12">
  <div class="flex py-4 justify-end">
    <button
      pButton
      label="Dodaj użytkownika"
      icon="pi pi-plus"
      iconPos="right"
      (click)="addNewUser()"
    ></button>
  </div>
  <p-table
    #usersTable
    [value]="users"
    dataKey="id"
    [paginator]="true"
    [rows]="10"
    [lazy]="true"
    (onLazyLoad)="loadUsers($event)"
    sortField="id"
    [sortOrder]="1"
    [loading]="loading"
    [totalRecords]="totalRecords"
    [globalFilterFields]="['id', 'sure_name', 'first_name', 'email']"
  >
    <ng-template pTemplate="caption">
      <div class="table-header flex justify-end">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="
              usersTable.filterGlobal($any($event.target).value, 'contains')
            "
            placeholder="Wyszukaj"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th
          *ngFor="let column of columns"
          [pSortableColumn]="column.databaseName"
        >
          {{ column.displayName }}
          <p-sortIcon [field]="column.databaseName"></p-sortIcon>
        </th>
        <th class="w-3"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <ng-container *ngFor="let column of columns">
          <td>
            {{ user[column.databaseName] }}
          </td>
        </ng-container>
        <td>
          <div class="flex flex-row w-full">
            <button
              class="flex items-center justify-center p-2 hover:text-gray-400"
              (click)="editUser(user)"
            >
              <i class="pi pi-pencil"></i>
            </button>
            <button
              class="flex items-center justify-center p-2 hover:text-gray-400"
              (click)="deleteUser(user)"
            >
              <i class="pi pi-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-sidebar class="sidebar" [(visible)]="displaySidebar" position="left">
  <app-firm-user-form
    *ngIf="displaySidebar"
    [edit]="isEditUser"
    [user]="currentUser"
  ></app-firm-user-form>
</p-sidebar>
