<div class="w-full h-full flex items-center justify-center">
  <div
    id="afterAddOfferDiv"
    class="w-3/4 rounded py-20 bg-customPalette-green flex flex-col space-y-10 justify-center items-center"
  >
    <div class="flex flex-row items-center justify-center space-x-6">
      <div class="text-6xl">Oferta pomyślnie dodana</div>
      <i class="pi pi-check-circle" style="font-size: 5rem"></i>
    </div>
    <button
      id="userAccountButton"
      pButton
      label="Powrót do konta"
      routerLink="/uzytkownik/ogloszenia"
    ></button>
  </div>
</div>
