.offer-avatar {
  border-radius: 50%;
  overflow: hidden;
  background-color: transparent;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
