<div
  class="w-full flex text-center md:px-28 px-10 py-12 divide-x-2 divide-gray-400"
>
  <a
    [routerLink]="['ogloszenia']"
    routerLinkActive="user-panel-navbar-item-active"
    class="user-panel-navbar-item rounded-l-md"
    >Ogłoszenia</a
  >
  <a
    routerLink="dashboard"
    [routerLink]="['ogloszenia-obserwowane']"
    routerLinkActive="user-panel-navbar-item-active"
    class="user-panel-navbar-item"
    >Obserwowane</a
  >
  <a
    routerLink="wiadomosci"
    routerLinkActive="user-panel-navbar-item-active"
    class="user-panel-navbar-item"
    >Wiadomości<p-badge
      *ngIf="unreadMessages > 0"
      [value]="unreadMessages <= 10 ? unreadMessages.toString() : '10+'"
      styleClass="ml-2 bg-messages-message"
    ></p-badge
  ></a>
  <a
    routerLink="pracownicy"
    routerLinkActive="user-panel-navbar-item-active"
    class="user-panel-navbar-item"
    >Użytkownicy</a
  >
  <a
    routerLink="ustawienia"
    routerLinkActive="user-panel-navbar-item-active"
    class="user-panel-navbar-item rounded-r-md"
    >Ustawienia</a
  >
</div>
