<div *ngIf="navbarService.visible" class="shadow-md mb-3">
  <div class="mx-auto px-4">
    <div class="flex justify-between">
      <div class="flex space-x-7">
        <!--        <div class="md:hidden">-->
        <!--          &lt;!&ndash; Website Logo &ndash;&gt;-->
        <!--          <a href="#" class="flex items-center py-4 px-2">-->
        <!--&lt;!&ndash;            <img src="logo.png" alt="Logo" class="h-8 w-8 mr-2">&ndash;&gt;-->
        <!--            <span class="font-semibold text-gray-800 text-lg">Navigation</span>-->
        <!--          </a>-->
        <!--        </div>-->
        <!-- Primary Navbar items -->
        <div class="hidden md:flex items-center space-x-1">
          <a
            routerLink="dashboard"
            class="py-4 px-2 font-semibold hover:text-customPalette-brownHover transition duration-300 text-gray-800"
            routerLinkActive="active-link"
            >Strona główna</a
          >
          <div
            appClickOutside
            (click)="houseDropdown = !houseDropdown"
            (clickOutside)="houseDropdown = false"
            class="cursor-pointer text-gray-800 font-semibold"
            [ngClass]="isActive('dom') ? 'active-link' : ''"
          >
            <div
              class="py-4 px-2 hover:text-customPalette-brown transition duration-300"
              id="dropdown-house"
            >
              Domy
              <i
                id="dropdown-house-icon"
                class="pi pi-angle-down text-center align-middle"
              ></i>
            </div>
            <div
              *ngIf="houseDropdown"
              id="dropdown-content-house"
              class="dropdown-menu-items w-auto z-10 absolute mt-1"
              [@dropDownMenu]="houseDropdown"
            >
              <a
                class="menu-item"
                [routerLink]="['/dom', 'sprzedaz']"
                routerLinkActive="active-link-dropdown"
              >
                <div
                  class="p-3 hover:text-customPalette-brown transition duration-300"
                >
                  Sprzedaż
                </div>
              </a>
              <a
                class="menu-item"
                [routerLink]="['/dom', 'wynajem']"
                routerLinkActive="active-link-dropdown"
              >
                <div
                  class="p-3 hover:text-customPalette-brown transition duration-300"
                >
                  Wynajem
                </div>
              </a>
            </div>
          </div>
          <div
            appClickOutside
            (clickOutside)="flatDropdown = false"
            (click)="flatDropdown = !flatDropdown"
            class="cursor-pointer text-gray-800 font-semibold"
            [ngClass]="isActive('mieszkanie') ? 'active-link' : ''"
          >
            <div
              class="py-4 px-2 hover:text-customPalette-brown transition duration-300"
              id="dropdown-flat"
            >
              Mieszkania
              <i
                id="dropdown-flat-icon"
                class="pi pi-angle-down text-center align-middle"
              ></i>
            </div>
            <div
              id="dropdown-content-flat"
              class="dropdown-menu-items w-auto z-10 px-2 absolute mt-1"
              *ngIf="flatDropdown"
              [@dropDownMenu]="flatDropdown"
            >
              <a
                class="menu-item"
                [routerLink]="['/mieszkanie', 'sprzedaz']"
                routerLinkActive="active-link-dropdown"
              >
                <div
                  class="p-3 hover:text-customPalette-brown transition duration-300"
                >
                  Sprzedaż
                </div>
              </a>
              <a
                class="menu-item"
                [routerLink]="['/mieszkanie', 'wynajem']"
                routerLinkActive="active-link-dropdown"
              >
                <div
                  class="p-3 hover:text-customPalette-brown transition duration-300"
                >
                  Wynajem
                </div>
              </a>
            </div>
          </div>
          <div
            appClickOutside
            (click)="plotDropdown = !plotDropdown"
            (clickOutside)="plotDropdown = false"
            [ngClass]="isActive('dzialka') ? 'active-link' : ''"
            class="cursor-pointer text-gray-800 font-semibold"
          >
            <div
              class="py-4 px-2 hover:text-customPalette-brown transition duration-300"
              id="dropdown-plot"
            >
              Działki
              <i
                id="dropdown-plot-icon"
                class="pi pi-angle-down text-center align-middle"
              ></i>
            </div>
            <div
              class="dropdown-menu-items w-auto z-10 absolute mt-1"
              *ngIf="plotDropdown"
              [@dropDownMenu]="plotDropdown"
            >
              <a
                class="menu-item"
                [routerLink]="['/dzialka', 'sprzedaz']"
                routerLinkActive="active-link-dropdown"
              >
                <div
                  class="p-3 hover:text-customPalette-brown transition duration-300"
                >
                  Sprzedaż
                </div>
              </a>
              <a
                class="menu-item"
                [routerLink]="['/dzialka', 'wynajem']"
                routerLinkActive="active-link-dropdown"
              >
                <div
                  class="p-3 hover:text-customPalette-brown transition duration-300"
                >
                  Wynajem
                </div>
              </a>
            </div>
          </div>

          <div
            appClickOutside
            (click)="roomDropdown = !roomDropdown"
            (clickOutside)="roomDropdown = false"
            routerLinkActive="active-link"
            [ngClass]="isActive('pokoj') ? 'active-link' : ''"
            class="cursor-pointer text-gray-800 font-semibold"
          >
            <div
              class="py-4 px-2 hover:text-customPalette-brown transition duration-300"
              id="dropdown-room"
            >
              Pokoje
              <i
                id="dropdown-room-icon"
                class="pi pi-angle-down text-center align-middle"
              ></i>
            </div>
            <div
              id="dropdown-content-room"
              class="dropdown-menu-items w-auto z-10 absolute mt-1"
              *ngIf="roomDropdown"
              [@dropDownMenu]="roomDropdown"
            >
              <a
                class="menu-item"
                routerLink="pokoj/wynajem"
                routerLinkActive="active-link-dropdown"
              >
                <div
                  class="p-3 hover:text-customPalette-brown transition duration-300"
                >
                  Wynajem
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Secondary Navbar items -->
      <div
        *ngIf="!isLogged; else logged"
        class="hidden md:flex items-center space-x-3"
      >
        <a
          href=""
          routerLink="/login"
          class="py-2 px-2 font-medium text-gray-800 rounded hover:bg-customPalette-brown hover:text-white transition duration-300"
          >Zaloguj</a
        >
        <a
          href=""
          routerLink="/register"
          class="py-2 px-2 font-medium text-white bg-customPalette-brown rounded hover:bg-customPalette-brownHover transition duration-300"
          >Zarejestruj</a
        >
      </div>
      <ng-template #logged>
        <div
          appClickOutside
          (click)="userDropdown = !userDropdown"
          (clickOutside)="userDropdown = false"
          class="hidden md:block cursor-pointer text-gray-800 font-semibold"
        >
          <div
            id="dropdown-user"
            class="py-4 px-2 flex flex-row items-center cursor-pointer space-x-1 text-gray-800 font-semibold hover:text-customPalette-brown transition duration-300"
          >
            <img
              id="dropdown-user-img"
              src="{{ user.avatar_url }}"
              width="30"
              height="30"
              alt="zdj"
            />
            <div id="dropdown-user-name" class="">
              {{ user.first_name }} {{ user.sure_name }}
            </div>
            <i id="dropdown-user-icon" class="pi pi-angle-down"></i>
          </div>
          <div
            *ngIf="userDropdown"
            [@dropDownMenu]="userDropdown"
            id="dropdown-content-user"
            class="dropdown-menu-items absolute"
          >
            <a class="menu-item" routerLink="uzytkownik/ogloszenia">
              <div
                class="p-3 hover:text-customPalette-brown transition duration-300"
              >
                Moje konto
              </div>
            </a>
            <a class="menu-item" routerLink="dodaj-ogloszenie">
              <div
                class="p-3 hover:text-customPalette-brown transition duration-300"
              >
                Dodaj ogłoszenie
              </div>
            </a>
            <a class="menu-item">
              <div
                (click)="logout()"
                class="p-3 hover:text-customPalette-brown transition duration-300"
              >
                Wyloguj
              </div>
            </a>
          </div>
        </div>
      </ng-template>

      <!-- Mobile menu button -->
      <div class="md:hidden flex items-center">
        <button
          appClickOutside
          (clickOutside)="mobileMenu = false"
          class="py-4 outline-none mobile-menu-button"
          (click)="mobileMenu = !mobileMenu"
        >
          <svg
            class="w-6 h-6 text-gray-800 hover:text-customPalette-brown"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- mobile menu -->
  <div
    class="md:hidden w-full mobile-menu bg-white z-50 absolute"
    *ngIf="mobileMenu"
    [@dropDownMenu]="mobileMenu"
  >
    <ul class="w-full" appClickStopPropagation>
      <li class="menu-item">
        <a routerLink="dashboard" class="w-full">
          <div
            class="cursor-pointer text-gray-800 font-semibold py-4 px-2 hover:text-customPalette-brown transition duration-300"
            routerLinkActive="active-link"
          >
            Strona główna
          </div>
        </a>
      </li>
      <li class="menu-item">
        <div
          (click)="houseDropdownMobile = !houseDropdownMobile"
          routerLinkActive="active-link"
          class="cursor-pointer text-gray-800 font-semibold"
        >
          <div
            class="py-4 px-2 hover:text-customPalette-brown transition duration-300 flex justify-between"
            id="dropdown-house-mobile"
          >
            Domy
            <i
              id="dropdown-house-icon-mobile"
              class="pi pi-angle-down text-right align-middle"
            ></i>
          </div>
          <div
            [ngClass]="houseDropdownMobile ? 'flex' : 'hidden'"
            class="dropdown-menu-items w-full"
            id="dropdown-content-house-mobile"
          >
            <a
              [routerLink]="['/dom', 'sprzedaz']"
              routerLinkActive="active-link-dropdown"
            >
              <div
                class="p-3 hover:text-customPalette-brown transition duration-300"
              >
                Sprzedaż
              </div>
            </a>
            <a
              [routerLink]="['/dom', 'wynajem']"
              routerLinkActive="active-link-dropdown"
            >
              <div
                class="p-3 hover:text-customPalette-brown transition duration-300"
              >
                Wynajem
              </div>
            </a>
          </div>
        </div>
      </li>
      <li class="menu-item">
        <div
          (click)="flatDropdownMobile = !flatDropdownMobile"
          routerLinkActive="active-link"
          class="cursor-pointer text-gray-800 font-semibold"
        >
          <div
            class="py-4 px-2 hover:text-customPalette-brown flex justify-between transition duration-300"
            id="dropdown-flat-mobile"
          >
            Mieszkania
            <i
              id="dropdown-flat-icon-mobile"
              class="pi pi-angle-down text-right align-middle"
            ></i>
          </div>
          <div
            [ngClass]="flatDropdownMobile ? 'flex' : 'hidden'"
            id="dropdown-content-flat-mobile"
            class="dropdown-menu-items w-full"
          >
            <a
              [routerLink]="['/mieszkanie', 'sprzedaz']"
              routerLinkActive="active-link-dropdown"
            >
              <div
                class="p-3 hover:text-customPalette-brown transition duration-300"
              >
                Sprzedaż
              </div>
            </a>
            <a
              [routerLink]="['/mieszkanie', 'wynajem']"
              routerLinkActive="active-link-dropdown"
            >
              <div
                class="p-3 hover:text-customPalette-brown transition duration-300"
              >
                Wynajem
              </div>
            </a>
          </div>
        </div>
      </li>
      <li class="menu-item">
        <div
          (click)="plotDropdownMobile = !plotDropdownMobile"
          routerLinkActive="active-link"
          class="cursor-pointer text-gray-800 font-semibold"
        >
          <div
            class="py-4 px-2 hover:text-customPalette-brown transition duration-300 flex justify-between"
            id="dropdown-plot-mobile"
          >
            Działki
            <i
              id="dropdown-plot-icon-mobile"
              class="pi pi-angle-down text-right align-middle"
            ></i>
          </div>
          <div
            [ngClass]="plotDropdownMobile ? 'flex' : 'hidden'"
            id="dropdown-content-plot-mobile"
            class="dropdown-menu-items w-full"
          >
            <a
              [routerLink]="['/dzialka', 'sprzedaz']"
              routerLinkActive="active-link-dropdown"
            >
              <div
                class="p-3 hover:text-customPalette-brown transition duration-300"
              >
                Sprzedaż
              </div>
            </a>
            <a
              [routerLink]="['/dzialka', 'wynajem']"
              routerLinkActive="active-link-dropdown"
            >
              <div
                class="p-3 hover:text-customPalette-brown transition duration-300"
              >
                Wynajem
              </div>
            </a>
          </div>
        </div>
      </li>

      <li class="menu-item">
        <div
          (click)="roomDropdownMobile = !roomDropdownMobile"
          routerLinkActive="active-link"
          class="cursor-pointer text-gray-800 font-semibold"
        >
          <div
            class="py-4 px-2 hover:text-customPalette-brown flex justify-between transition duration-300 focus:bg-amber-700"
            id="dropdown-room-mobile"
          >
            Pokoje
            <i
              id="dropdown-room-icon-mobile"
              class="pi pi-angle-down text-right align-middle"
            ></i>
          </div>
          <div
            [ngClass]="roomDropdownMobile ? 'flex' : 'hidden'"
            id="dropdown-content-room-mobile"
            class="dropdown-menu-items w-full"
          >
            <a
              routerLink="pokoj/wynajem"
              routerLinkActive="active-link-dropdown"
            >
              <div
                class="p-3 hover:text-customPalette-brown transition duration-300"
              >
                Wynajem
              </div>
            </a>
          </div>
        </div>
      </li>

      <li
        class="menu-item py-2 flex flex-row items-center space-x-3"
        [ngClass]="isLogged ? 'justify-start' : 'justify-end'"
      >
        <div
          *ngIf="!isLogged; else loggedMobile"
          class="items-center space-x-3"
        >
          <a
            href=""
            routerLink="/login"
            class="py-2 px-2 font-medium text-gray-800 rounded hover:bg-customPalette-brown hover:text-white transition duration-300"
            >Zaloguj</a
          >
          <a
            href=""
            routerLink="/register"
            class="py-2 px-2 font-medium text-white bg-customPalette-brown rounded hover:bg-customPalette-brownHover transition duration-300"
            >Zarejestruj</a
          >
        </div>
        <ng-template #loggedMobile>
          <div
            (click)="userDropdownMobile = !userDropdownMobile"
            class="cursor-pointer text-gray-800 font-semibold w-full"
          >
            <div
              id="dropdown-user-mobile"
              class="py-2 px-2 justify-start space-x-1 flex flex-row items-center cursor-pointer text-gray-800 font-semibold hover:text-customPalette-brown transition duration-300"
            >
              <img
                id="dropdown-user-img-mobile"
                src="{{ user.avatar_url }}"
                width="30"
                height="30"
                alt="zdj"
              />
              <div id="dropdown-user-name-mobile" class="">
                {{ user.first_name }} {{ user.sure_name }}
              </div>
              <i id="dropdown-user-icon-mobile" class="pi pi-angle-down"></i>
            </div>
            <div
              [ngClass]="userDropdownMobile ? 'flex' : 'hidden'"
              id="dropdown-content-user-mobile"
              class="dropdown-menu-items w-full"
            >
              <a routerLink="dodaj-ogloszenie">
                <div
                  class="p-3 hover:text-customPalette-brown transition duration-300"
                >
                  Dodaj ogłoszenie
                </div>
              </a>
              <a routerLink="uzytkownik/ogloszenia">
                <div
                  class="p-3 hover:text-customPalette-brown transition duration-300"
                >
                  Moje konto
                </div>
              </a>
              <a>
                <div
                  (click)="logout()"
                  class="p-3 hover:text-customPalette-brown transition duration-300"
                >
                  Wyloguj
                </div>
              </a>
            </div>
          </div>
        </ng-template>
        <!--            <a routerLink="login" type="blank" class="py-2 px-2 font-medium text-gray-800 rounded hover:bg-green-500 hover:text-white transition duration-300">Zaloguj</a>-->
        <!--            <a routerLink="/register" class="py-2 px-2 font-medium text-white bg-green-500 rounded hover:bg-green-400 transition duration-300">Zarejestruj</a>-->
      </li>
    </ul>
  </div>
</div>
