<div class="h-full flex flex-col items-center justify-center">
  <div
    class="block p-6 rounded-lg shadow-lg bg-messages-messagesBg max-w-sm w-full md:w-1/3 md:max-w-full"
  >
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <span class="text-red-600" *ngIf="error">{{ error }}</span>
      <div class="form-group mb-6">
        <label for="email" class="form-label inline-block mb-2 text-gray-700"
          >Adres email</label
        >
        <input
          pInputText
          autocomplete="email"
          type="email"
          id="email"
          name="email"
          formControlName="email"
          class="w-full"
          [ngClass]="
            (f['email'].invalid &&
              (f['email'].touched || f['email'].dirty || isSubmitted)) ||
            errors.email
              ? 'border-red-600'
              : 'border-gray-300'
          "
          placeholder="Wprowadź email"
        />
        <div
          *ngIf="
            f['email'].invalid &&
            (f['email'].touched || f['email'].dirty || isSubmitted)
          "
          class="text-red-600 font-semibold"
        >
          <div *ngIf="f['email'].errors?.['required']">
            Adres e-mail jest wymagany!
          </div>
          <div *ngIf="f['email'].errors?.['email']">
            Niepoprawny adres e-mail!
          </div>
        </div>
        <div *ngIf="errors.email" class="text-red-600 font-semibold">
          <div>{{ errors.email[0] }}</div>
        </div>
      </div>
      <div class="form-group mb-6 w-full">
        <label for="password" class="form-label inline-block mb-2 text-gray-700"
          >Hasło</label
        >
        <input
          pPassword
          autocomplete="current-password"
          class="w-full"
          type="password"
          id="password"
          formControlName="password"
          [ngClass]="
            (f['password'].invalid &&
              (f['password'].touched || f['password'].dirty || isSubmitted)) ||
            errors.password
              ? 'border-red-600'
              : 'border-gray-300'
          "
          [feedback]="false"
          placeholder="Wprowadź hasło"
        />
        <div
          *ngIf="
            f['password'].invalid &&
            (f['password'].touched || f['password'].dirty || isSubmitted)
          "
          class="text-red-600 font-semibold"
        >
          <div *ngIf="f['password'].errors?.['required']">
            Hasło jest wymagane!
          </div>
        </div>
        <div *ngIf="errors.password" class="text-red-600 font-semibold">
          <div *ngFor="let password of errors.password">{{ password }}</div>
        </div>
      </div>
      <div class="w-full flex items-center justify-center">
        <button
          class="w-full"
          pButton
          label="Zaloguj"
          [loading]="loading"
          [disabled]="form.invalid || form.pristine"
        ></button>
      </div>
    </form>
  </div>
</div>

<a *ngxPermissionsOnly="'firm_owner'"> dupa </a>
