<div class="flex flex-col items-center justify-center">
  <div class="px-6 w-full">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="space-y-2">
        <div class="flex flex-col w-full">
          <label for="email" class="form-label inline-block pb-1 text-gray-700"
            >Adres email</label
          >
          <input
            type="email"
            id="email"
            name="email"
            formControlName="email"
            pInputText
            [ngClass]="
              (f['email'].invalid &&
                (f['email'].touched || f['email'].dirty || isSubmitted)) ||
              serverErrors.email
                ? 'border-red-600'
                : 'border-gray-300'
            "
            placeholder="Wprowadź email"
          />
          <div
            *ngIf="
              f['email'].invalid &&
              (f['email'].touched || f['email'].dirty || isSubmitted)
            "
            class="text-red-600 font-semibold"
          >
            <div *ngIf="f['email'].errors?.['required']">
              Adres e-mail jest wymagany!
            </div>
            <div *ngIf="f['email'].errors?.['email']">
              Niepoprawny adres e-mail!
            </div>
          </div>
          <div *ngIf="serverErrors.email" class="text-red-600 font-semibold">
            <div *ngFor="let email of serverErrors.email">{{ email }}</div>
          </div>
        </div>
        <div class="form-group w-full">
          <label
            for="first_name"
            class="form-label inline-block pb-1 text-gray-700"
            >Imię</label
          >
          <input
            type="text"
            id="first_name"
            name="first_name"
            formControlName="first_name"
            pInputText
            [ngClass]="
              (f['first_name'].invalid &&
                (f['first_name'].touched ||
                  f['first_name'].dirty ||
                  isSubmitted)) ||
              serverErrors.first_name
                ? 'border-red-600'
                : 'border-gray-300'
            "
            placeholder="Wprowadź imię"
          />
          <div
            *ngIf="
              f['first_name'].invalid &&
              (f['first_name'].touched || f['first_name'].dirty || isSubmitted)
            "
            class="text-red-600 font-semibold"
          >
            <div *ngIf="f['first_name'].errors?.['required']">
              Imię jest wymagane!
            </div>
          </div>
          <div
            *ngIf="serverErrors.first_name"
            class="text-red-600 font-semibold"
          >
            <div *ngFor="let first_name of serverErrors.first_name">
              {{ first_name }}
            </div>
          </div>
        </div>

        <div class="form-group w-full">
          <label
            for="sure_name"
            class="form-label inline-block pb-1 text-gray-700"
            >Nazwisko</label
          >
          <input
            type="text"
            id="sure_name"
            name="sure_name"
            formControlName="sure_name"
            pInputText
            [ngClass]="
              (f['sure_name'].invalid &&
                (f['sure_name'].touched ||
                  f['sure_name'].dirty ||
                  isSubmitted)) ||
              serverErrors.sure_name
                ? 'border-red-600'
                : 'border-gray-300'
            "
            placeholder="Wprowadź nazwisko"
          />
          <div
            *ngIf="
              f['sure_name'].invalid &&
              (f['sure_name'].touched || f['sure_name'].dirty || isSubmitted)
            "
            class="text-red-600 font-semibold"
          >
            <div *ngIf="f['sure_name'].errors?.['required']">
              Nazwisko jest wymagane!
            </div>
          </div>
          <div
            *ngIf="serverErrors.sure_name"
            class="text-red-600 font-semibold"
          >
            <div *ngFor="let sure_name of serverErrors.sure_name">
              {{ sure_name }}
            </div>
          </div>
        </div>

        <div class="form-group w-full">
          <label
            for="phone_number"
            class="form-label inline-block pb-1 text-gray-700"
            >Numer telefonu</label
          >
          <p-inputMask
            styleClass="w-full {{
              serverErrors.phone_number ? 'border-red-600' : ''
            }}"
            type="text"
            id="phone_number"
            name="phone_number"
            formControlName="phone_number"
            mask="+48 999 999 999"
            [ngClass]="
              (f['phone_number'].invalid &&
                (f['phone_number'].touched ||
                  f['phone_number'].dirty ||
                  isSubmitted)) ||
              serverErrors.phone_number !== null
                ? 'border-red-600'
                : 'border-gray-300'
            "
            placeholder="Wprowadź numer telefonu"
          ></p-inputMask>
          <div
            *ngIf="
              f['phone_number'].invalid &&
              (f['phone_number'].touched ||
                f['phone_number'].dirty ||
                isSubmitted)
            "
            class="text-red-600 font-semibold"
          >
            <div *ngIf="f['phone_number'].errors?.['required']">
              Numer telefonu jest wymagany!
            </div>
            <div *ngIf="f['phone_number'].errors?.['pattern']">
              Numer telefonu powinien mieć format xxx-xxx-xxx
            </div>
          </div>
          <div
            *ngIf="serverErrors.phone_number"
            class="text-red-600 font-semibold"
          >
            <div *ngFor="let phone_number of serverErrors.phone_number">
              {{ phone_number }}
            </div>
          </div>
        </div>

        <div class="form-group" *ngIf="!edit">
          <label
            for="password"
            class="form-label inline-block pb-1 text-gray-700"
            >Hasło</label
          >
          <input
            autocomplete="new-password"
            type="password"
            id="password"
            name="password"
            formControlName="password"
            pPassword
            [ngClass]="
              (f['password'].invalid &&
                (f['password'].touched ||
                  f['password'].dirty ||
                  isSubmitted)) ||
              serverErrors.password
                ? 'border-red-600'
                : 'border-gray-300'
            "
            placeholder="Hasło"
          />
          <div
            *ngIf="
              f['password'].invalid &&
              (f['password'].touched || f['password'].dirty || isSubmitted)
            "
            class="text-red-600 font-semibold"
          >
            <div *ngIf="f['password'].errors?.['required']">
              Hasło jest wymagane!
            </div>
            <div *ngIf="f['password'].errors?.['minlength']">
              Hasło musi mieć co najmniej 8 znaków!
            </div>
          </div>
          <div *ngIf="serverErrors.password" class="text-red-600 font-semibold">
            <div *ngFor="let password of serverErrors.password">
              {{ password }}
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="!edit">
          <label
            for="password_conf"
            class="form-label inline-block pb-1 text-gray-700"
            >Potwierdź hasło</label
          >
          <input
            autocomplete="new-password"
            type="password"
            id="password_conf"
            name="password_conf"
            formControlName="password_conf"
            pPassword
            [ngClass]="
              f['password_conf'].invalid &&
              (f['password_conf'].touched ||
                f['password_conf'].dirty ||
                isSubmitted)
                ? 'border-red-600'
                : 'border-gray-300'
            "
            placeholder="Powtórz hasło"
          />
          <div
            *ngIf="
              (f['password_conf'].invalid || form.errors?.confirmedPassword) &&
              (f['password_conf'].touched ||
                f['password_conf'].dirty ||
                isSubmitted)
            "
            class="text-red-600 font-semibold"
          >
            <div *ngIf="f['password_conf'].errors?.['required']">
              Potwierdzenie hasła jest wymagane!
            </div>
            <div *ngIf="form.errors?.confirmedPassword">
              Hasło i powtórzone hasło muszą być takie same!
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Awatar</label>
          <div class="photo-input">
            <label
              for="mainPhoto"
              class="photo-input-label"
              [ngClass]="[
                userAvatarSrc !== '' ? 'hidden' : ' flex',
                f['user_avatar'].invalid &&
                (f['user_avatar'].touched ||
                  f['user_avatar'].dirty ||
                  isSubmitted)
                  ? 'border border-red-600'
                  : ''
              ]"
              ><i class="pi pi-plus-circle text-xl"></i
            ></label>
            <input
              id="mainPhoto"
              class="hidden"
              type="file"
              formControlName="user_avatar"
              (change)="onChangeUserAvatar($event)"
            />
            <ng-container *ngIf="userAvatarSrc">
              <div class="relative w-fit">
                <img [src]="userAvatarSrc" width="300px" height="100px" />
                <i
                  class="pi pi-times photo-input-delete"
                  (click)="deleteUserAvatar()"
                ></i>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="form-group">
          <button
            pButton
            [loading]="loading"
            label="{{ edit ? 'Aktualizuj' : 'Dodaj użytkownika' }}"
            [disabled]="form.invalid || form.pristine"
          ></button>
        </div>
      </div>
    </form>
  </div>
</div>
